.wrapper {
    width: 100%;
    background-color: #F4F4F4;
}
.wrapper-header {
    box-sizing: border-box;
    width: 100%;
    border-bottom: thin solid gray;
}
.wrapper-main {
    box-sizing: border-box;
    width: 100%;
}
.container {
    box-sizing: border-box;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid gray;
}
.counter {
    box-sizing: border-box;
    width: 320px;
    border: .5rem solid gray;
    margin-left: auto;
    margin-right: auto;
}
.goal {
    box-sizing: border-box;
    width: 220px;
    border: .2rem solid gray;
    margin-left: auto;
    margin-right: auto;
}
.comments {
    box-sizing: border-box;
    width: 380px;
    border: .2rem solid red;
    margin-left: auto;
    margin-right: auto;
}
.comment {
    width: 100%;
}